/*:root {
	--list_color: #5ee200;
	--header_color: #ff3366; 
	--bg_color: #006eff;
	--button_color: #5ee200;
	--button_after: #f1c40f;
	--songcolor: red;
	--songhover: hotpink;
}*/

:root {
	--list_color: #5ee200;
	--header_color: #ff3366; 
	--bg_color: #006eff;
	--button_color: #5ee200;
	--button_after: #f1c40f;
	--songcolor: white;
	--songhover: hotpink;
}


h1 {
	color: var(--header_color);
	font-family: 'Libre Baskerville', serif;

}

body {
	background-color: var(--bg_color);
	margin-left: 10vw;
	margin-top: 5vh;
	margin-right: 5vw;
}

.checkboxes {
	color: var(--list_color);
	font-family: 'Libre Baskerville', serif;
	padding-bottom: 20px;

}

 /* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}


.resultsonglinks a:link { 
	color: var(--songcolor);
	font-family: 'Libre Baskerville', serif;
} 

.resultsonglinks a:visited {
	color: var(--songcolor);
	font-family: 'Libre Baskerville', serif;
}

.resultsonglinks a:hover {
	color: var(--songhover);
	font-family: 'Libre Baskerville', serif;
}

.resultsonglinks a:active {
	color: var(--songcolor);
	font-family: 'Libre Baskerville', serif;
}
	 

button {
  background: var(--button_color);
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  color: #blue;
  font-size: 16px;
  margin-top: 15px;
  width: 150px;
  padding: 3px 0;
  
  &:hover {
    cursor: pointer;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(var(--button_after), 20%);
    opacity: 0.4;
    bottom: -30px;
  }
}
}

table {

}